:root {
    --clr-secondary: #7c7474;
    --clr-primary: #1283df;
    --clr-accent: #b60c00;
    --clr-text: #fffefc;
    --space: 2rem;
}


* ,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}


body {
    color: var(--clr-text);
    font-family: "Montserrat", sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: -10rem;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 40rem;
    background: var(--clr-primary);
    transform-origin: 0;
    transform: skewY(-10deg);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_pic {
    max-width: 400px;
    width: 90vw;
}

.profile_container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    position: relative;
    z-index: 5;
    padding: 1em;
}

.profile_name  {
    position: absolute;
    top: 500px;
    z-index: 10;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0 ,0, 0, 0.8);
}

.about_me {
    color: var(--clr-secondary);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.socials {
    display: flex;
    gap: 1em;
    font-size: 1.7rem;
    cursor: pointer;
}
